<template>
  <!-- Here we can already see that we are able to have multiple roots. In Vue 2 we always had to have a single root node
       (mostly a div that wrapped our component) -->
  <!-- In Vue 3 we can just ditch that and have a slimmer template without multiple wrapper divs -->
  <h1>{{ msg }}</h1>
  <p>Number: {{ number3 }}</p>
  <p>{{ number }}</p>
  <p>Upper: {{ upperName }}</p>
  <h1>{{ newUpper }}</h1>
  <button @click="increaseNumber">Increase Number</button>
</template>

<script>
/* eslint-disable */
/* import ref function from vue if we want a variable to be reactive */
import { ref, computed, reactive, toRefs } from 'vue';

export default {
  /* In Vue3 we have to tell it the name of the component as first argument */
  name: 'IncreaseSmth',
  props: {
    msg: String,
  },

  /*
    All the magic in Vue3 happens in the setup method (Composition API)
    This means we don't have the options API anymore (i.e. data, methods, computed etc)
    setup gets called after the beforeCreate() and before the created() lifecycle hooks and after the *** props *** are resolved


    *** WARNING ***
      Because the component instance is not yet created when the ***setup()*** function is executed, we don't have access to *** this *** inside of the setup option.
      In plain english that means, we won't be able to access any properties declared within the component itself (methods, local state, computed properties), but we will be
      able to access the props of it.
    ************
  */
  setup() {
    /*
      Here, we are wrapping the number 3 as an argument in the imported ref function (Reactive Reference) to tell Vue that this value is reactive
      ref will work on all primitive data types we want to make reactive
    */
    const number3 = ref(3);
    const name = ref('daniel');

    /* This is simply the method call from the template  */
    function increaseNumber() {
      /*
          Because number is a reactive value the value is stored in number.value which we increase
          Why value? Because when we wrap a value in the ref function, Vue is under the hood, creating a reactive and mutable ref object
          which takes the value we gave it to and and this object has a single property of "value" which points to the wrapped value.
          That is also the reason we can declare these variables as const
        */
      number3.value++;
    }

    const state = reactive({
      number: 0,
      string: 'Hello World',
      obj: {
        prop: 'objectvalue',
      },
    });
    const { number, string } = toRefs(state);

    /*
      computed properties in Vue 3 take a callback function and return what we need,
      make sure to import the computed function from vue
     */
    const upperName = computed(() => {
      return name.value.toUpperCase();
    });

    const newUpper = computed(() => {
      return state.obj.prop.toUpperCase();
    });

    /* At last, everything we want to use within the template we have to return as an object */
    return { number3, increaseNumber, upperName, newUpper, number };
  },
  /*
  data() {
    return {
      number: 3,
    };
  },
  methods: {
    increaseNumber() {
      this.number++;
    },
  },
*/
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
