<template>
  <h1>I don't work Todo</h1>
  <p v-for="result in results" :key="result.id">
    {{ result.id }}) {{ result.title }}
  </p>
  <p>{{ upperString }}</p>
  <p>{{ foo }}</p>
  <h2>{{ propRef }}</h2>
</template>

<script>
import { ref, toRefs, computed, reactive, toRef } from 'vue';
import { fetchTodos } from '../composables/fetchTodos';

export default {
  name: 'Todos',
  props: {
    someString: {
      type: String,
    },
  },

  /*
    the setup function takes several arguments
    1. props
    2. context

      the context argument provides a context object which exposes a selective list
      of component properties (attrs, slots,emit)
  */
  setup(props) {
    // const { attrs, slots, emit } = context;
    // console.log(attrs);
    // console.log(slots);
    // console.log(emit);
    const localState = reactive({
      resultsLocal: [],
      superString: '',
    });
    const { someString } = toRefs(props);
    /* make a reference to a propertie from an object */
    const propRef = toRef(localState, 'superString');

    propRef.value = 'peter';

    const foo = ref('');

    /* as state is spread into it as a ref we have access to the properties within and they're reactive */
    const { results } = fetchTodos('posts');

    const upperString = computed(() => {
      return someString.value.toUpperCase();
    });

    foo.value = 'foo';

    return {
      localState,
      upperString,
      results,
      foo,
      propRef,
    };
  },
};
</script>

<style></style>
