<template>
  <IncreaseSmth msg="Increase me" />
  <Todos someString="someCoolString" />
</template>

<script>
import IncreaseSmth from './components/IncreaseSmth.vue';
import Todos from './components/Todos';

export default {
  name: 'App',
  components: {
    IncreaseSmth,
    Todos,
  },
  /* Lifecycle Methods */
  beforeCreate() {
    console.log('beforeCreated');
  },
  created() {
    console.log('created');
  },
  beforeMount() {
    console.log('beforeMount');
  },
  mounted() {
    console.log('mounted');
  },
  beforeUpdate() {
    console.log('beforeUpdate');
  },
  updated() {
    console.log('updated');
  },

  /* NEW NAMES beforeDestroyed(), destroyed() */
  beforeUnmount() {
    console.log('beforeUnmoubnt');
  },
  unmounted() {
    console.log('unmounted');
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
